@import "tailwindcss";

html, body {
  @apply w-full h-full m-0 p-0 overflow-hidden; /* Prevent page scrolling */
}

body {
  @apply bg-[#010509] font-mono text-[#b8f0a4];
}

/* Terminal container */
.container-screen {
  position: fixed;
  left: 7vh;
  bottom: 3vh;
  z-index: 10;
  background: transparent;
  padding: 1rem;
  pointer-events: none; 
  align-items: center;
  justify-items: center;

}

.terminal-frame {
  width: 90vw; 
  height: 25vh; 
  padding: 1.5rem;
  border-radius: 1rem 1rem 0 1rem;
  border: 8px solid #06131f;
  display: flex;
  flex-direction: column;
  position: relative;
  background: radial-gradient(circle at 50% 50%, #030d1a, #010509);
  box-shadow: inset 0 0 60px rgba(0,255,140,0.08), 0 0 60px rgba(0,255,140,0.05);
  max-height: 70vh;
  overflow-y: auto;
  scrollbar-width: none;;
  pointer-events: auto; /* Re-enable pointer events for the terminal itself */
}

/* CRT scanline effect */
.terminal-frame::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: repeating-linear-gradient(
    rgba(255,255,255,0.02) 0px,
    rgba(255,255,255,0.02) 1px,
    transparent 1px,
    transparent 2px
  );
  pointer-events: none;
  mix-blend-mode: overlay;
}

.terminal-screen {
  flex: 1;
  overflow-y: auto;
  overflow-x: hidden;
  padding: 1rem;
  height: 100%;
  max-height: calc(70vh - 3rem);
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE and Edge */
  display: flex;
  flex-direction: column;
}

.terminal-screen::-webkit-scrollbar {
  display: none; 
}

.prompt-line {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  width: 100%;
  margin-top: auto;
}

.prompt-prefix {
  color: #6ee7b7;
}

.prompt-input {
  background: transparent;
  outline: none;
  flex: 1;
  color: #b8f0a4;
  caret-color: #b8f0a4;
}

.prompt-input {
background: transparent;
outline: none;
flex: 1;
color: #b8f0a4;
caret-color: transparent; 
}

.cursor {
display: none !important; 
animation: none !important;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}